.articleBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.articleBodyIndeed{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 40px;
    margin: 30px 0px 0px 0px;
}
.articleBodyTitle{
    width: fit-content;
    font-size: 25px;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
}
.articleBodySegment{
    width: 100%;
}
@media screen and (max-width: 1000px){
    .articleBodyIndeed{
        width: 95%;
    }
}