@import url("./typeDate/main.css");
@import url("./title/main.css");
@import url("./author/main.css");

.readBodySummary{
    border: 1px solid var(--colorBlue);
    padding: 10px 15px;
    width: 20%;
    height: 100%;
    border-radius: 10px;
    overflow: scroll;
}
.readBodySummaryChapter{
    margin: 0px 0px 5px 0px;
    cursor: pointer;
    width: fit-content;
    transition: color var(--transitionTime);
}
.readBodySummaryChapter:hover{
    color: var(--colorRed);
}

@media screen and (max-width: 1000px){
    .readBodySummary{
        width: 95%;
        height: 100%;
    }
}