.initBottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    width: 100%;
    padding: 20px;
    position: fixed;
    bottom: 0px;
}
.initBottomButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}
.initBottomButtons>button{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 15px;
    transition: background var(--transitionTime), color var(--transitionTime);
}
.initBottomButtons>button:hover{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 1000px){
    .initBottomButtons{
        width: 100%;
    }
}