@import url("./backButton/main.css");
@import url("./title/main.css");

.initBodyRightSideTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    background: var(--colorBlue);
    color: var(--colorWhite);
    margin: 50px 0px 0px 0px;
    padding: 10px;
    border-radius: 15px;
}