.initBodyLogo{
    margin: 0px 0px 20px 0px;
    width: 40%;
    opacity: 0;
    animation: fadeIn var(--transitionTime) 1s forwards;
}

@media screen and (max-width: 1000px){
    .initBodyLogo{
        width: 80%;
        margin: 200px 0px 0px 0px;
    }
}