@import url("./leftSide/main.css");
@import url("./rightSide/main.css");

.initBody{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200%;
    height: 100%;
    overflow: hidden;
    transition: translate var(--transitionTime);
    opacity: 0;
    animation: fadeIn var(--transitionTime) var(--transitionTime) forwards;
}

@media screen and (max-width: 1000px){
    .initBody{
        overflow: hidden;
    }
}