@import url("./miniLogo/main.css");
@import url("./pages/main.css");

.subjectTop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--colorBlue);
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0%;
    z-index: 1;
    animation: fadeIn var(--transitionTime) var(--transitionTime) forwards;
}