.subjectTop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: var(--colorBlue);
    width: 100%;

    opacity: 0;
    animation: fadeIn var(--transitionTime) var(--transitionTime) forwards;
}

.subjectTop>img{
    width: 60px;
    height: 60px;
    margin: 0px 20px 0px 0px;
    cursor: pointer;
}

.subjectTop>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 10px;

    flex-wrap: wrap;
}

.subjectTop>div>button{
    background: none;
    color: var(--colorWhite);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background var(--transitionTime), color var(--transitionTime);
}

.subjectTop>div>button:hover{
    background: var(--colorWhite);
    color: var(--colorBlue)
}

@media screen and (max-width: 1000px){
    .subjectTop>div{
        width: 100%;
        padding: 5px;
    }
}