.content{
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 200px;
}
.contentOption{
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: fit-content;
    width: 45%;
    padding: 20px;

    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: 0px 0px 30px 0px;
}
.coTitle{
    padding: 10px;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.coOptions{
    flex-direction: column;
    justify-content: left;

    width: 100%;
    margin: 10px 0px 0px 0px;
}
.coOption{
    margin: 5px 0px;
}
.coOption:hover{
    color: rgb(255, 200, 50);
    cursor: pointer;
}