.content{
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 200px;
}
.contentOption{
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: fit-content;
    width: 30%;
    padding: 20px;

    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: 0px 0px 30px 0px;
}
.coTitle{
    padding: 10px;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.coOptions{
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin: 10px 0px 0px 0px;
}
.coOption{
    margin: 5px 0px;
}
.coOption:hover{
    color: rgb(255, 200, 50);
    cursor: pointer;
}
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.searchInput{
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 10px 15px;
    outline: none;
}
.searchButton{
    height: 30px;
    width: 40px;
    background: none;
    border: none;
}
.searchButton:hover{
    cursor: pointer;
}
.searchButton>img{
    width: 100%;
    height: 100%;
}