.initBottom>div>button{
    background: none;
    color: var(--colorWhite);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background var(--transitionTime), color var(--transitionTime);
}

.initBottom>div>button:hover{
    color: var(--colorBlue);
    background: var(--colorWhite)
}