@import url("./title/main.css");
@import url("./number/main.css");

.adminBodyStatsOption{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid var(--colorBlue);
    margin: 0px 0px 5px 0px;
}