@import url("./logo/main.css");
@import url("./login/main.css");

.adminTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--colorBlue);
    padding: 10px;
}