.adminTopLogin>input:nth-child(1){
    background: none;
    border: 1px solid var(--colorWhite);
    padding: 5px 10px;
    border-radius: 10px;
    transition: box-shadow var(--transitionTime);
}

.adminTopLogin>input:nth-child(1):hover{
    box-shadow: 0px 0px 10px 0px var(--colorWhite);
}