.readBodyBottom>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    padding: 10px;
    overflow: scroll;
}

.readBodyBottom>div>button{
    background: none;
    color: var(--colorWhite);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background var(--transitionTime), color var(--transitionTime);
}

.readBodyBottom>div>button:hover{
    color: var(--colorBlue);
    background: var(--colorWhite)
}

@media screen and (max-width: 1000px){
    .readBodyBottom>div{
        width: 100%;
        padding: 5px;
    }
}