@import url("./title/main.css");
@import url("./list/main.css");

.adminBodyStatsMostRead{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    border: 1px solid var(--colorBlue);
    border-radius: 15px;
    padding: 10px 15px;
}

@media screen and (max-width: 1000px){
    .adminBodyStatsMostRead{
        width: 100%;
    }
}