@import url("./logo/main.css");
@import url("./search/main.css");

.initBodyMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}