.initBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 60px 0px;
}
.initBodyLogo{
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 700;
    margin: 0px 0px 50px 0px;
}
.initBodySearch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 10px 10px 10px 15px;
    transition: box-shadow var(--transitionTime);
}
.initBodySearch:hover{
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
}
.initBodySearch>input{
    width: 80%;
}
.initBodySearch>button{
    width: 20%;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    transition: background var(--transitionTime), color var(--transitionTime);
}
.initBodySearch>button:hover{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}