@import url("./type/main.css");
@import url("./title/main.css");
@import url("./author/main.css");

.initBodyRightSideBody>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32%;
    background: var(--colorBlue);
    padding: 15px;
    border-radius: 15px;
    margin: 0px 0px 10px 0px;
    color: var(--colorWhite);
    transition: box-shadow var(--transitionTime);
    cursor: pointer;
}
.initBodyRightSideBody>div:hover{
    box-shadow: 0px 0px 10px 0px var(--colorBlue);
}

@media screen and (max-width: 1000px){
    .initBodyRightSideBody>div{
        width: 100%;
    }
}