@import url("./option/main.css");

.initBodyRightSideBody{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 60px 0px;
}

@media screen and (max-width: 1000px){
    .initBodyRightSideBody{
        padding: 0px 0px 100px 0px;
        width: 95%;
    }
}
