@import url("./article/main.css");

.subjectBodyArticles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    padding: 10px 20px 20px 20px;
    margin: 10px 0px 0px 0px;
    overflow: scroll;
    opacity: 0;
    animation: fadeIn var(--transitionTime) forwards;
}

@media screen and (max-width: 1000px){
    .subjectBodyArticles{
        width: 100%;
    }
}