@import url("./use/main.css");
@import url("./mostRead/main.css");

.adminBodyStats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

@media screen and (max-width: 1000px){
    .adminBodyStats{
        flex-direction: column;
        width: 95%;
    }
}