@import url("./pages/main.css");

.initTop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: var(--colorBlue);
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 1;
    opacity: 0;
    animation: fadeIn var(--transitionTime) var(--transitionTime) forwards;
    transition: top var(--transitionTime);
    overflow: scroll;
}

.initTop>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 10px;
}

@media screen and (max-width: 1000px){
    .initTop>div{
        width: 100%;
        padding: 5px;
    }
}