.initBodySearch{
    display: flex;
    flex-direction: row;
    width: fit-content;
    border: 1px solid var(--colorBlue);
    padding: 10px 10px 10px 20px;
    border-radius: 20px;
    width: 60%;
    transition: box-shadow var(--transitionTime);

    opacity: 0;
    animation: fadeIn var(--transitionTime) 1.5s forwards;
}

.initBodySearch:hover{
    box-shadow: 0px 0px 10px 0px var(--colorBlue);
}

.initBodySearch>input{
    background: var(--colorWhite);
    width: 100%;
}

.initBodySearch>button{
    background: var(--colorWhite);
    color: var(--colorBlue);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: color var(--transitionTime), background var(--transitionTime);
}

.initBodySearch>button:hover{
    background: var(--colorBlue);
    color: var(--colorWhite)
}

@media screen and (max-width: 1000px){
    .initBodySearch{
        width: 95%;
        margin: 0px 0px 20px 0px;
    }
}